<h1>your name is: <%= @name %></h1>
<h1><%= @message %></h1>


<!-- josh livecode alternative code in html.erb
remember should put most logic in controller not html, only time can is when the logic will chanhe the html view (actual new h1 or p section, etc,)

<% of if @message %>
  <h1><% @message %></h1>
<% end %> -->